
.header {
    text-align: center;
}

.col-md-8 {
    align-content: center;
}


.col-md-4 {
    align-content: center;
    text-align: center;
}

.form-custom {
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 5px;
  }