
.header {
    text-align: center;
}

.col-md-8 {
    align-content: center;
}


.col-md-4 {
    align-content: center;
    text-align: center;
}

.form-custom {
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 5px;
  }

.headerCellStyle {
  white-space: nowrap;
  overflow: visible;
  vertical-align: baseline;
  justify-content: center;
}

.matCellStyle {
  justify-content: center;
  border-right: solid;
  border-right-width: 1px;
  border-right-color: lightgray;
}
