<div class="background-cover">
  <h1 class="header">Welcome to Team 3's FIS(h) Tank Project Website!</h1>
  <div class="col-md-8">
    <div class="form-custom">
      <div class="container">
        <div class="col-md-4">
          <div class="row">
            <video controls>
              <source src="C:\video-file-path-goes-here" type="video/mov">
              Your browser does not support embedded videos
            </video>
          </div>
          <div class="row">
            <mat-form-field>
              <input matInput [(ngModel)]="userInfo.email" name="userInfo.email" [(value)]="userInfo.email"
                placeholder="Email" />
            </mat-form-field>
          </div>
          <div class="row">
            <div class="col-md-2">
              <mat-form-field>
                <input matInput [(ngModel)]="userInfo.firstName" name="userInfo.firstName"
                  [(value)]="userInfo.firstName" placeholder="First Name" />
              </mat-form-field>
            </div>
            <div class="col-md-2">
              <mat-form-field>
                <input matInput [(ngModel)]="userInfo.lastName" name="userInfo.lastName" [(value)]="userInfo.lastName"
                  placeholder="Last Name" />
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <button class="custom-button" (click)="submitUserInfo()">Submit</button>
            <button class="custom-button" (click)="clearAllInput()">Clear</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>