<div class="background-cover">
  <h1 class="header">Welcome to Team 3's FIS(h) Tank Project Website!</h1>
  <div class="col-md-8">
    <div class="form-custom">
      <div class="col-md-4">
        <input MatInput [(ngModel)]="userInfo.email" name="userInfo.email" [(value)]="userInfo.email" placeholder="Email"/>
        <input MatInput [(ngModel)]="userInfo.firstName" name="userInfo.firstName" [(value)]="userInfo.firstName"/>      
      </div>
      <div class="col-md-4">
        <input MatInput [(ngModel)]="userInfo.lastname" name="userInfo.lastname" [(value)]="userInfo.lastname"/>
      </div>
    </div>
  </div>
</div>
